.DS_Store
.ipynb_checkpoints/
*.log
*.pickle
*.zip
*.p
__pycache__/
cifar-10-python.tar.gz
cifar-10-batches-py/
checkpoint
*.index
*.meta
*.data*
MNIST_data
*/semi-supervised/data*
*/semi-supervised/images*
*/semi-supervised/samples.*
*/face_generation/data*
